html {
        scroll-behavior: smooth;
      }
      .hero-background {
        background-image: linear-gradient( rgba(255, 107, 107, 0.3), rgba(255, 217, 61, 0.3) ), url('https://lh3.googleusercontent.com/aida-public/AB6AXuAiK6m5vAbzY7e7y8R3L7QYgOwXYRjsRVOM0eR6oy3FeXCVvek5nL_X30ubvci9arDvUqgreZJAdra0Ps1aPcbTLRHKQtG5h3QkUTrnqW9OfbpZvZGj_JHjsgw-RlvgVGmm7tREkV9TsDYpyjURx9Sjo3YEKJfH8mKGHF2JhgeIH0L1XS-HjjizzSDGO03I97cmg2ZQyHqcMIjM18uerD_zBCrpMC-hhWRcW9UdMklQzkx6j9ZuT1dvT_Gvqj3G-sdd7QXPqEyx5x8');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .material-symbols-outlined {
        font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
      }
      .wavy-underline {
        text-decoration-line: underline;
        text-decoration-style: wavy;
        text-decoration-color: #ffd93d;
        text-underline-offset: 8px;
        text-decoration-thickness: 3px;
      }
      section {
        scroll-margin-top: 80px;
      }
